#
####### requirements.txt #######
#
###### Requirements without Version Specifiers ######
pyobjc
requests
numpy
pillow
opencv-python
wheel
pyperclip
keyboard>=v0.9.13
twine
pytesseract
pillow>=8.3.0 # not directly required, pinned by Snyk to avoid a vulnerability